* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0B2434;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div#root {
  height: 100%;
  width: 100%;
  max-height: 400px;
  width: 400px;
  min-width: 400px;
}

main {
  background-color: #F5F5F5;
  height: 100%;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.Die-container{
  display: grid;
  gap: 20px;
  /* grid-template-columns:repeat(5, 1fr);
  grid-template-rows: repeat(2); */
  /* easier way to do above */
  grid-template: auto auto / repeat(5, 1fr);
  gap: 20px;
}


